n8n/AI_Talent_Summit_Evaluation.json
{
  "name": "AI Talent Summit - Prompting Evaluation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-talent-summit/evaluate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000002",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "ai-talent-summit-evaluate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_base_url\": \"https://YOUR_API_PUBLIC_URL\",\n  \"mode\": {{ JSON.stringify($json.body?.mode ?? $json.mode ?? 'prompt') }},\n  \"problem_statement\": {{ JSON.stringify($json.body?.problem_statement ?? $json.problem_statement ?? '') }},\n  \"user_prompt\": {{ JSON.stringify($json.body?.user_prompt ?? $json.user_prompt ?? '') }},\n  \"problem_type\": {{ JSON.stringify($json.body?.problem_type ?? $json.problem_type ?? 'static_web') }},\n  \"acceptance_criteria\": {{ JSON.stringify($json.body?.acceptance_criteria ?? $json.acceptance_criteria ?? []) }}\n}",
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000003",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [280, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cond-build",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "build",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "build"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1000001-0001-4000-8000-000000000004",
      "name": "Route by Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [520, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Input').item.json.api_base_url }}/v1/evaluate/direct",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"problem_statement\": {{ JSON.stringify($('Normalize Input').item.json.problem_statement) }},\n  \"user_prompt\": {{ JSON.stringify($('Normalize Input').item.json.user_prompt) }}\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000005",
      "name": "Prompt Evaluation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Input').item.json.api_base_url }}/v1/evaluate/build/direct",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"problem_statement\": {{ JSON.stringify($('Normalize Input').item.json.problem_statement) }},\n  \"user_prompt\": {{ JSON.stringify($('Normalize Input').item.json.user_prompt) }},\n  \"problem_type\": {{ JSON.stringify($('Normalize Input').item.json.problem_type) }},\n  \"acceptance_criteria\": {{ JSON.stringify($('Normalize Input').item.json.acceptance_criteria) }}\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "a1000001-0001-4000-8000-000000000006",
      "name": "Build Evaluation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1000001-0001-4000-8000-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 0]
    },
    {
      "parameters": {
        "content": "## AI Talent Summit — Prompting Evaluation (Webhook)\n\n**Prerequisite:** FastAPI running on port 8000\n```\nuvicorn app.main:app --port 8000\n```\n\n**POST body:**\n```json\n{\n  \"mode\": \"build\",\n  \"problem_statement\": \"...\",\n  \"user_prompt\": \"...\",\n  \"problem_type\": \"static_web\",\n  \"acceptance_criteria\": [\"hero section\"]\n}\n```\n\n- mode `prompt` → 1 API call (~$0.01)\n- mode `build` → 3 API calls (~$0.03-0.08)\n\n**api_base_url:** Edit in Normalize Input node.\n- n8n Docker: `http://host.docker.internal:8000`\n- Same machine: `http://localhost:8000`\n\nFor manual testing use the Prompt Only or Full Build workflow files.",
        "height": 440,
        "width": 400
      },
      "id": "a1000001-0001-4000-8000-000000000009",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-420, -80]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Route by Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Mode": {
      "main": [
        [
          {
            "node": "Build Evaluation API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt Evaluation API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Evaluation API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Evaluation API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
